.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;

  li {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
    a {
      color: #8F5C2C;
      text-decoration: none;
      width: 100%;
      box-sizing: border-box;
      display: block;
  
      &:hover, &:active, .active {
        color: #40A4C8;
      }
    }
  }
}

.Undo {
  background-color: white;
	border-color: white;
	color: black;
  font-weight: 400;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;

	&:hover {
		background-color: darken(white, 10%);
		color: black;
	}
}
